<div class="s-feedback">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h2 class="s-feedback__title">У вас есть вопросы?</h2>
      </div>
      <div class="col-xs-12 col-md-8">
        <form action="" class="s-feedback__form s-form row">
          <div class="s-feedback__form-group s-form__group col-xs-12 col-sm-4">
            <label for="" class="s-form__label"></label>
            <input type="text" class="s-form__input" placeholder="Имя">
          </div>
          <div class="s-feedback__form-group s-form__group col-xs-12 col-sm-4">
            <label for="" class="s-form__label"></label>
            <input type="tel" class="s-form__input" placeholder="Телефон">
          </div>
          <div class="s-feedback__form-group s-form__group col-xs-12 col-sm-4">
            <button class="s-btn s-form__submit-btn" type="submit">Заказать звонок</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>