<section class="s-promo">
  <div class="s-promo__content">
    <h1 class="s-promo__title">Качественный бетон от производителей</h1>
    <p class="s-promo__desc">Товарный бетон с морозостойкими добавками для промышленного и частного строителства с доставкой</p>
    <a href="#" class="s-btn">Заказать</a>
  </div>
  <div class="s-promo__slider s-main-slider owl-carousel owl-theme">
    <div class="s-promo__slider-item">
      <img src="https://images.unsplash.com/photo-1511104286249-cade2ff54588?ixlib=rb-0.3.5&s=46a09fc2209f6b3b68e7382019929149&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-promo__slider-item">
      <img src="https://images.unsplash.com/photo-1511195448930-75ffebe8e3a8?ixlib=rb-0.3.5&s=a6c5a68adba93010e4aa889feaa82029&auto=format&fit=crop&w=1492&q=80" alt="">
    </div>
  </div>
</section>
