<section id="about" class="s-section s-about">
  <div class="container">
    <h2 class="s-main-subtitle">О нас</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="s-about__info">
          <p>Компания «ГСК-БЕТОН» предлагает вам купить бетон СПб от производителя по самым низким ценам. Мы сотрудничаем как с частными лицами, так и организациями и готовы доставить приобретенный вами стройматериал в любую точку Ленинградской области.</p>
          <p>Покупая бетон на нашем предприятии, вы делаете правильный выбор. В основу нашего производства положено использование лучшего современного оборудования, отлично зарекомендовавшего себя в сфере изготовления стройматериалов. Мы гарантируем, что бетон от производителя – это лучший вариант покупки для всех, кому срочно требуется большое количество качественного раствора для возведения жилых и производственных зданий.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/ELLrikZSKow?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>