<section id="request-a-price" class="s-section s-request-a-price">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 class="s-main-subtitle s-main-subtitle--light">Хотите запросить стоимость?</h2>
        <p class="s-request-a-price__desc">Наши специалисты ответят на вашу заявку в близжайшее время. Некогда ждать? Позвоните нам!</p>
        <ul class="s-request-a-price__contact-list">
          <li class="s-request-a-price__contact-item">
            <a href="tel:+78123361653" class="s-request-a-price__contact-link">+7 (812) 336-16-53</a>
          </li>
          <li class="s-request-a-price__contact-item">
            <a href="tel:+79602440090" class="s-request-a-price__contact-link">+7 (960) 244-00-90</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="s-request-a-price__form">
          <form action="" class="s-form row">
            <div class="s-request-a-price__form-group s-form__group col-xs-12">
              <label for=""></label>
              <input type="text" placeholder="Имя">
            </div>
            <div class="s-request-a-price__form-group s-form__group col-xs-12">
              <label for=""></label>
              <input type="tel" placeholder="Телефон">
            </div>
            <div class="s-request-a-price__form-group s-form__group col-xs-12">
              <label for=""></label>
              <input type="email" placeholder="E-mail">
            </div>
            <div class="s-request-a-price__form-group s-form__group col-xs-12">
              <textarea name="" id="" rows="6" placeholder="Текст сообщения"></textarea>
            </div>
            <div class="s-request-a-price__form-group s-form__group col-xs-12">
              <button class="s-btn s-form__submit-btn" type="submit">Отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>