<header class="s-page-header" role="banner">
  <div class="s-page-header__info">
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-sm-6">
          <strong class="s-page-header__slogan">Ваш железобетонный партнер!</strong>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="s-page-header__contact">
            <ul class="s-page-header__contact-list">
              <li class="s-page-header__contact-item">
                <a href="tel:+79602440090" class="s-page-header__contact-link">+7 (960) 244-00-90</a>
              </li>
              <li class="s-page-header__contact-item">
                <a href="tel:+78123361653" class="s-page-header__contact-link">+7 (812) 336-16-53</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-page-header__nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <div class="s-page-header__logo logo">
            <img src="img/logo.png" alt="">
          </div>
        </div>
        <div class="col-xs-6 col-sm-9">
          <nav class="s-main-nav">
            <ul class="s-main-nav__list">
              <li class="s-main-nav__item">
                <a href="#price" class="s-main-nav__link">Цены</a>
              </li>
              <li class="s-main-nav__item">
                <a href="#request-a-price" class="s-main-nav__link">Заказать</a>
              </li>
              <li class="s-main-nav__item">
                <a href="#about" class="s-main-nav__link">О нас</a>
              </li>
              <li class="s-main-nav__item">
                <a href="#advantages" class="s-main-nav__link">Преимущества</a>
              </li>
              <li class="s-main-nav__item">
                <a href="#delivery-and-payment" class="s-main-nav__link">Доставка и оплата</a>
              </li>
              <li class="s-main-nav__item">
                <a href="#request-a-price" class="s-main-nav__link">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="s-page-header__hamburger">
            <button type="button" class="s-hamburger">
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
