<section id="gallery" class="s-gallery">
  <div class="s-gallery__inner">
    <div class="container">
      <h2 class="s-main-subtitle">Галерея</h2>
    </div>
  </div>
  <div class="s-gallery__slider s-main-slider owl-carousel owl-theme">
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1506871515363-cb9caa527c95?ixlib=rb-0.3.5&s=2b10d6f52ef28e3fcd75941a84efe429&auto=format&fit=crop&w=1789&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1518613559939-e680cdc77551?ixlib=rb-0.3.5&s=5486a72edc5f5af7c5dc26771c62b74d&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1518897761968-5a3544c369b5?ixlib=rb-0.3.5&s=1c31a17d869cd536355b81bb99bebb1f&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1444716640698-8b6f46b79cbe?ixlib=rb-0.3.5&s=d3b0044aeb43d65c8931e2718d6749ae&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1458681842652-019f4eeda5e5?ixlib=rb-0.3.5&s=101aa59ba295cab70f604aad157d963e&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1469975827474-fbf5687e03e6?ixlib=rb-0.3.5&s=b4f1417e3ae52f108831d5173bc30cb1&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1518613559939-e680cdc77551?ixlib=rb-0.3.5&s=5486a72edc5f5af7c5dc26771c62b74d&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1518897761968-5a3544c369b5?ixlib=rb-0.3.5&s=1c31a17d869cd536355b81bb99bebb1f&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1444716640698-8b6f46b79cbe?ixlib=rb-0.3.5&s=d3b0044aeb43d65c8931e2718d6749ae&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1458681842652-019f4eeda5e5?ixlib=rb-0.3.5&s=101aa59ba295cab70f604aad157d963e&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
    <div class="s-gallery__item">
      <img src="https://images.unsplash.com/photo-1469975827474-fbf5687e03e6?ixlib=rb-0.3.5&s=b4f1417e3ae52f108831d5173bc30cb1&auto=format&fit=crop&w=1500&q=80" alt="">
    </div>
  </div>
</section>