<section id="price" class="s-section s-price">
  <div class="container">
    <div class="s-price__info">
      <h2 class="s-main-subtitle">Цены</h2>
      <p>Лучше всего приобретать необходимые вам марки бетона непосредственно у производителя. При таком подходе вы не только сможете стать владельцем по-настоящему высококачественного строительного материала, но и сэкономите деньги, так как вам не нужно будет тратить средства на оплату услуг поставщиков. Кроме того, прямой контакт с производителем позволяет решать любые вопросы в кратчайшие сроки.</p>
      <p>Заказывая бетон для фундамента в Санкт-Петербурге, вы можете быть уверены, что вам доставят действительно качественный строительный материал. Компании-производители всегда предоставляют своим клиентам гарантии того, что их заказ будет выполнен в полном объеме.</p>
    </div>
    <div class=s-price__tabs>
      <ul class="s-price__tabs-list nav nav-tabs" role="tablist">
        <li role="presentation" class="s-price__tabs-item active">
          <a href="#concrete" class="s-price__tabs-link" aria-controls="concrete" role="tab" data-toggle="tab">Бетонная смесь</a>
        </li>
        <li role="presentation" class="s-price__tabs-item">
          <a href="#profile" class="s-price__tabs-link" aria-controls="profile" role="tab" data-toggle="tab">Монтажные растворы</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="concrete">
          <table class="s-price__table s-table">
            <thead>
              <tr>
                <th>Марка бетона</th>
                <th>Класс бетона</th>
                <th>Стоимость руб. с НДС за м<sup>3</sup></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>М100</td>
                <td>В7,5 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М150</td>
                <td>В10 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М150</td>
                <td>В10 П4/В12,5 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М200</td>
                <td>В15 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М200</td>
                <td>В15 П4</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М250</td>
                <td>В20 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М250</td>
                <td>В20 П4</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М300</td>
                <td>В22,5 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М300</td>
                <td>В22,5 П4</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М350</td>
                <td>В25 П3</td>
                <td>2 600</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <table class="s-price__table s-table">
            <thead>
              <tr>
                <th>Марка бетона</th>
                <th>Класс бетона</th>
                <th>Стоимость руб. с НДС за м<sup>3</sup></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>М100</td>
                <td>В7,5 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М150</td>
                <td>В10 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М150</td>
                <td>В10 П4/В12,5 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М200</td>
                <td>В15 П3</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М200</td>
                <td>В15 П4</td>
                <td>2 600</td>
              </tr>
              <tr>
                <td>М250</td>
                <td>В20 П3</td>
                <td>2 600</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="s-price__btn">
      <a href="#" class="s-btn">Заказать</a>
    </div>
  </div>
</section>