// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@blue:                        #34a0d8;
@yellow:                      #f7ca18;

@text-color:                  @gray-darker;
@text-color--darker:          #00305f;
@text-color--lighter:         #7ac8ff;
@text-color--lightest:        @white;

@bg-color--default:           @white;
@bg-color--gray:              #f8f8f8;
@bg-color--lighter:           #2d79c4;
@bg-color--darker:            #002042;

@main-title-color:            ;
@main-subtitle-color:         ;

@nav-link-color:              ;
@nav-link-color-hover:        ;

@box-shadow:                  ;

@hamburger-color:             ;

@button-main-color:           ;
@button-main-bg-color:        @yellow;
@button-main-bg-hover:        ;

@button-ghost-color:          ;
@button-ghost-bg-color:       ;
@button-ghost-border-color:   ;
@button-ghost-border-hover:   ;

@input-border:                ;
@input-border-focus:          ;

@border-color:                currentColor;
@border-radius:               2px;


// Typography

// Main size
@font-size:                   100%;
@font-size--desktop:          112.5%;

@line-height:                 1.425em;
@line-height--desktop:        1.45em;
@line-height--heading:        1.2em;

// Custom
@font-size--h1:               2.5em;
@font-size--h2:               2em;
@font-size--h3:               1.5em;
@font-size--h4:               1.25em;
@font-size--h5:               1em;
@font-size--h6:               1em;
@font-size--small:            0.75em;
@font-size--accent:           1.25em;

// Perfect Fifth
// @font-size--h1:               5.063em;
// @font-size--h2:               3.375em;
// @font-size--h3:               2.25em;
// @font-size--h4:               1.5em;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
// @font-size--small:            0.667em;
// @font-size--accent:           1.25em;

// Perfect Fourth
// @font-size--h1:               3.157em;
// @font-size--h2:               2.369em;
// @font-size--h3:               1.777em;
// @font-size--h4:               1.333em;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
// @font-size--small:            0.75em;
// @font-size--accent:           1.125em;

@font-family:                 Spectral, "Times New Roman", Times, Georgia, sans-serif;
@font-family--heading:        "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
