<footer class="s-page-footer" role="contentinfo">
  <div class="container">
    <div class="s-page-footer__top">
      <h3 class="s-page-footer__title">Гск-Бетон</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <p class="s-page-footer__text">Мы продаем только те стройматериалы, которые полностью соответствуют требованиям ГОСТ, так что начиная сотрудничество с нами, вы можете бы уверены – все ваши ожидания будут оправданы на 100 %.</p>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
          <div class="s-page-footer__contact">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <ul class="s-page-footer__contact-list">
                  <li class="s-page-footer__contact-item">
                    <a href="tel:+79602440090" class="s-page-footer__contact-link">+7 (960) 244-00-90</a>
                  </li>
                  <li class="s-page-footer__contact-item">
                    <a href="tel:+78123361653" class="s-page-footer__contact-link">+7 (812) 336-16-53</a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6">
                <a href="mailto:mail@gskbeton.ru" class="s-page-footer__contact-link">mail@gskbeton.ru</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="s-page-footer__address">Ленинградская область, Всеволожский район,<br> п. Новое Девяткино, Территория Северной ТЭЦ, Дорога №2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="s-page-footer__bottom">
      <div class="row">
        <div class="col-xs-12 col-sm-2">
          <div class="s-page-footer__copyright">@ Copyright 2018</div>
        </div>
        <div class="hidden-xs col-sm-10">
          <nav class="s-page-footer__nav">
            <ul class="s-page-footer__nav-list">
              <li class="s-page-footer__nav-item">
                <a href="#price" class="s-page-footer__nav-link">Цены</a>
              </li>
              <li class="s-page-footer__nav-item">
                <a href="#request-a-price" class="s-page-footer__nav-link">Заказать</a>
              </li>
              <li class="s-page-footer__nav-item">
                <a href="#about" class="s-page-footer__nav-link">О нас</a>
              </li>
              <li class="s-page-footer__nav-item">
                <a href="#advantages" class="s-page-footer__nav-link">Преимущества</a>
              </li>
              <li class="s-page-footer__nav-item">
                <a href="#delivery-and-payment" class="s-page-footer__nav-link">Доставка и оплата</a>
              </li>
              <li class="s-page-footer__nav-item">
                <a href="#request-a-price" class="s-page-footer__nav-link">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
