<section id="advantages" class="s-section s-advantages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="s-advantages__info">
          <h2 class="s-advantages__title s-main-subtitle">Преимущества работы с нами</h2>
        </div>
      </div>
      <div class="col-xs-12">
        <ul class="s-advantages__list row">
          <li class="s-advantages__item col-xs-6 col-sm-4">
            <figure>
              <div class="s-advantages__item-cover s-advantages__item-cover--concrete"></div>
              <figcaption class="s-advantages__item-caption">Эко безопасность</figcaption>
            </figure>
          </li>
          <li class="s-advantages__item col-xs-6 col-sm-4">
            <figure>
              <div class="s-advantages__item-cover s-advantages__item-cover--standart"></div>
              <figcaption class="s-advantages__item-caption">Тройной контроль качества</figcaption>
            </figure>
          </li>
          <li class="s-advantages__item col-xs-6 col-sm-4">
            <figure>
              <div class="s-advantages__item-cover s-advantages__item-cover--delivery"></div>
              <figcaption class="s-advantages__item-caption">Доставка 24/7</figcaption>
            </figure>
          </li>
          <li class="s-advantages__item col-xs-6 col-sm-4">
            <figure>
              <div class="s-advantages__item-cover s-advantages__item-cover--payment"></div>
              <figcaption class="s-advantages__item-caption">Оплата удобным способом</figcaption>
            </figure>
          </li>
          <li class="s-advantages__item col-xs-6 col-sm-4">
            <figure>
              <div class="s-advantages__item-cover s-advantages__item-cover--order"></div>
              <figcaption class="s-advantages__item-caption">Точное соответсвие заказу</figcaption>
            </figure>
          </li>
          <li class="s-advantages__item col-xs-6 col-sm-4">
            <figure>
              <div class="s-advantages__item-cover s-advantages__item-cover--autopark"></div>
              <figcaption class="s-advantages__item-caption">Бетон от производителя</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>