<section id="delivery-and-payment" class="s-section s-delivery-and-payment">
  <div class="container">
    <div class="s-delivery-and-payment__info">
      <h2 class="s-main-subtitle">Оплата и доставка</h2>
      <p class="s-delivery-and-payment__desc">Приобретая бетон, как для промышленного строительства, так и для гражданского (коттеджи, дома) вы можете быть уверены в высочайшем качестве поставляемого бетона.</p>
    </div>
    <ul class="s-delivery-and-payment__list-item row">
      <li class="s-delivery-and-payment__item s-delivery-and-payment__item--delivery col-xs-12 col-sm-6">
        <h3 class="s-delivery-and-payment__subtitle">Доставка</h3>
        <p class="">Для своих клиентов мы предлагаем доставку по Санкт-Петербургу и ленинградской области собственным автопарком автобетоносмесителей объемом от 7 до 12 м3. Стоимость доставки от 2000 руб. Так же в нашем парке имеются автобетононасосы. </p>
      </li>
      <li class="s-delivery-and-payment__item s-delivery-and-payment__item--payment col-xs-12 col-sm-6">
        <h3 class="s-delivery-and-payment__subtitle">Оплата</h3>
        <p class="">Приобретая бетон у Нас, вы можете расчитывать на индивидуальные условия оплаты различными способами: как безналичным перечислением средств, так и другими возможными способами. </p>
      </li>
    </ul>
  </div>
</section>